<div class='container' style='text-align: center; padding: 20px;'>
  <h1 style='color: #333; margin-bottom: 20px;'>Welcomexss, {{{username}}}!</h1>
</div>

{{#each publicaciones}}
  <div class='post'>
    <h4>{{titulo}}</h4>
  </div>
{{/each}}