<link rel='stylesheet' href='/css/error.css' />

<h2>Crear nueva publicación</h2>

<form action='/publicar' method='POST'>
  <label>Texto:</label>
  <input type='text' name='texto' required />

  <label>Descripción:</label>
  <textarea name='descripcion'></textarea>

  <button type='submit'>Publicar</button>
</form>