<link rel='stylesheet' href='/css/error.css' />

<h2>Crear nueva publicación</h2>

<form action='/publicar' method='POST'>
  <label>Titulo:</label>
  <input type='title' name='titulo' required />

  <label>Texto:</label>
  <input type='text' name='texto' required />

  <label>Descripción:</label>
  <textarea name='descripcion'></textarea>

  <label>Categoria:</label>
  <select name='categoria' required>
    <option value='' disabled selected>Selecciona una categoria</option>
    <option value='amor'>Amor</option>
    <option value='desamor'>Desamor</option>
    <option value='haikus'>Haikus</option>
    <option value='another'>Another</option>
  </select>

  <button type='submit'>Publicar</button>
</form>