<h1>Perfil de {{username}}</h1>

{{#each publicaciones}}
  <div>
    <h2>{{titulo}}</h2>
    <p>{{texto}}</p>
  </div>
{{/each}}

<form action='/follow' method='post'>
  <input type='text' name='username' value='{{username}}' />
  <button type='submit'>Seguir</button>
</form>